<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53607531902-cgp8cng92k8b1qrgp3l5m3k1hjb90gog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53607531902-cgp8cng92k8b1qrgp3l5m3k1hjb90gog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53607531902-b6c7jg0pc6199d11d0nmvrtkips5kcrq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWcRnBhOopPnH7r2aFm_3PAzL1eWQ5_Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>53607531902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectxweb</string>
	<key>PROJECT_ID</key>
	<string>projectx-223eb</string>
	<key>STORAGE_BUCKET</key>
	<string>projectx-223eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53607531902:ios:665eb9dfe421e3d0771f2f</string>
</dict>
</plist>